<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Airline Trips</title>
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <style media="screen">

      body {
        font-family: 'Noto Sans';
        text-align: center;
        width: 100vw;
        height: 100vh;
      }

      img {
        width: 200px;
        margin-right: 15px;
      }

      .airlineContainer {
        align-items: center;
        text-align: left;
        justify-content: center;
        display: flex;
      }

      h1 {
        margin-bottom: 15px;
      }

      #plan {

        margin: 0 auto;
        border: 2px solid black;
        padding: 15px 20px 15px 20px;
        text-decoration: none;
      }

      .tripContainer {
        margin-top: 80px;
      }

      .trip {
        text-align: left;
        border: 2px solid black;
        margin: 20px auto;
        height: 220px;
        width: 720px;
        display: flex;
        padding: 5px;
      }

      .tripInfo {
        width: 40%;
      }

      .airline {
        width: 20%;
      }

      .toFrom {
        width: 10%;
      }

      .edit a{
        text-decoration: none;
        color: black;
        float: right;
        text-align: center;
        margin: 160px 0px 0px 150px;
        height: 23px;
        width: 70px;
        border: 2px solid black;
        padding: 15px;
      }

    </style>
  </head>
  <body>
    <div class="airlineContainer">
      <div class="airlineImage">
        <img src="<%=trips[0].img_url%>">
      </div>
      <div class="airlineInfo">
        <h1><%=trips[0].airline_name%></h1>
        <p><%=trips[0].description%></p>
      </div>
      </div>
      <% for(let i = 0; i < trips.length; i++) { %>
        <% let date = trips[i].date.toJSON().toString() %>
      <%  let newDate = `${date[5]}${date[6]}/${date[8]}${date[9]}/${date[2]}${date[3]}` %>
        <div class="trip">
          <div class="tripInfo">
            <a href="/tripnotes/<%=trips[i].id%>"><h2><%=trips[i].trip_name%></h2></a> 
            <p>Date:</p>
            <p><%=newDate%></p>
          </div>
          <div class="airline">
            <h3>Airline:</h3>
            <a href="/airline/<%=trips[i].airline_id%>"><%=trips[i].airline_name%></a>
          </div>
          <div class="toFrom">
            <h3>From:</h3>
            <p><%=trips[i].from%></p>
            <h3>To:</h3>
            <p><%=trips[i].to%></p>
          </div>
          <div class="edit">
            <a href="/edittrip/<%=trips[i].id%>">Edit</a>
          </div>
        </div>

      <%  } %>

  </body>
</html>
